<h1> 수정하는 페이지 </h1>

<form action="/homes/update/<%= @post.id %>" method="get">
    제목: <input type="text" name="title" value="<%= @post.title %>"> <br>
    내용: <input type="text" name="content" value="<%= @post.content %>"> <br>
    번호: <input type="number" name="numb" value="<%= @post.numb %>"> <br>
    <input type="submit" value="수정하기">
</form>


















